################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Task_4_4
/Task_4_3
/Lesson_4/Task_4_2
/Lesson_4/Lesson_5
/Lesson_4/Lesson_4
/Lesson_4/LessonExeption
/Lesson_4/CrossZero
/Lesson_4/.vs/Lessons
/HomeWork_Lesson_3/.vs/HomeWork_Lesson_3
/Lesson_4/Process/bin/Debug/net5.0
/Lesson_4/Process/obj
